<?xml version="1.0"?>
<launch>	 

<include file="$(find bullet_reasoning_demo)/launch/bullet_reasoning.launch"/>
<param name="robot_description" command="$(find xacro)/xacro.py $(find pr2_description)/robots/pr2.urdf.xacro" />

<group ns="quad1">
<param name="robot_description" command="$(find xacro)/xacro.py $(find hector_quadrotor_urdf)/urdf/quadrotor.urdf.xacro" />
</group>

</launch>
