<?xml version="1.0"?>
<launch>

<arg name="spawn_world" default="true"/>
<arg name="use_ground_truth_for_tf" default="true" />
<param name="tree1" textfile="$(find sherpa_spatial_relations)/models/tree1.urdf"/> 
  <node name="tree1" pkg="gazebo" type="spawn_model" args="-urdf -param tree1 -x 4 -y -4 -z 0 -model tree1" respawn="false" output="screen"/> 
<include file="$(find gazebo_worlds)/launch/empty_world.launch"/> 

</launch>
